* {
    margin: 0;
    padding: 0;
  }

body {
  font-family: 'Inter', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 2.3rem 0rem;
  width: 70rem;
}

.description h2 {
  font-size: 1.76rem;
  font-weight: 700;
}

.description p {
  padding: 0.2rem 0.2rem;
  font-size: 0.9rem;
  font-weight: 700;
}

.dark-mode {
  display: flex;
  align-items: center;
} 

.dark-mode-tittle {
  margin: 0 1rem;
}

.dark-mode-button {
  display: flex;
  align-items: center;
  width: 3rem;
  height: 1.4rem;
  background: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  border-radius: 50px;
  cursor: pointer;
}

.dark-mode-switcher {
  position: absolute;
  width: 1.1rem;
  height: 1.1rem;
  margin: 0 0.3rem;
  border-radius: 100%;
  transition: 0.2s;
}

.dark-mode-on {
  transform: translateX(1.15rem);
}

.followersSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1.81rem;
  margin: 2.6rem 0.3rem 2rem;
}
.card {
  height: 13.5rem;
  border-radius: 1.3rem 1.3rem 20rem 20rem;
}

.card:hover {
  cursor: pointer;
}

.facebook {
  background: hsl(208, 92%, 53%);
}

.twitter {
  background: hsl(203, 89%, 53%);
}

.instagram {
  background: linear-gradient(0.25turn, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
}

.youtube {
  background: hsl(348, 97%, 39%);
}


.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 92%;
  border-radius: 0.1rem 0.1rem 0.4rem 0.4rem;
  margin-top: 0.3rem;
  padding-top: 0.85rem;
  transition: 0.3s;
}

.card-container:hover {
  transition: 0.3s;
}

.social-midia-id {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0.85rem 0rem;
}

.social-midia-id img {
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 0.37rem;
}

.id {
  font-size: 0.8rem;
  font-weight: 400;
}

.total-followers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.2rem 0;
}

.total-followers-number {
  font-size: 3.4rem;
  font-weight: 700;
}

.folloewers-tipe {
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.28rem;
  text-transform: uppercase;
}

.dayle-followers {
  display: flex;
  align-items: center;
  padding: 1.5rem 0rem;
}

.dayle-followers-img {
  width: 0.4rem;
  height: 0.3rem;
  margin-right: 0.2rem;
}

.dayle-followers-count {
  font-size: 0.78rem;
  font-weight: 400;
}

.positive {
  color: hsl(163, 72%, 41%);
}

.negative {
    color: hsl(356, 69%, 56%);
}


.overview-section {
  margin: 2.95rem 0.3rem 2rem;
}

.overview-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.card-conteiner-overview {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2;
  column-gap: 1.92rem;
  row-gap: 1.55rem;
  margin: 1.5rem 0rem;
}

.card-overview {
  border-radius: 0.4rem;
  height: 7.8rem;
  transition: 0.3s;
}

.card-overview:hover {
  cursor: pointer;
  transition: 0.3s;
}

.card-content-title-overview {
  display: flex;
  justify-content: space-between;
  margin: 1.7rem 1.9rem 1.5rem 1.5rem;
}

.content-overview {
  font-size: 0.9rem;
  font-weight: 400;
}


.card-content-numbers-overview {
  display: flex;
  justify-content: space-between;
  margin: 1rem 1.9rem 0rem 1.5rem;
}

.card-overview-number {
  font-size: 1.9rem;
  font-weight: 700;
}

.percent-estatistic {
  display: flex;
  align-items: center;
  margin-top: 0.4rem;
}

.percent-estatistic-img {
  width: 0.4rem;
  height: 0.35rem;
  margin-right: 0.2rem;
}

.percent {
  font-size: 0.85rem;
  font-weight: 400;
}

@media screen and (min-width: 1201px) and (max-width: 1439px) {
  html {
    font-size: 85%;
  }
}


@media screen and (min-width: 1024px) and (max-width: 1200px) {
  html {
    font-size: 80%;
  }
}

@media screen and (min-width: 901px) and (max-width: 1023px) {
  html {
    font-size: 70%;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  html {
    font-size: 80%;
    height: auto;
  }

  .header {
    width: 40rem;
  }  

  .followersSection {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 2rem;
  }

  .card-conteiner-overview {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 321px) and (max-width: 600px) {
  html {
    font-size: 80%;
    height: auto;
  }

  .header {
    width: 23rem;
    flex-direction: column;
  }

  .dark-mode {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    padding: 1.5rem 0;
    border-top: solid 1px;
  }
  .dark-mode-tittle {
    margin: 0 0.2rem;
  }

  .dark-mode-button {
    height: 1.55rem;
  }

  .dark-mode-switcher {
    width: 1.2rem;
    height: 1.2rem;
  }
  .followersSection {
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
  }

  .card-conteiner-overview {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 0px) and (max-width: 320px) {
  html {
    font-size: 70%;
    height: auto;
  }

  .header {
    width: 23rem;
    flex-direction: column;
  }

  .dark-mode {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    padding: 1.5rem 0;
    border-top: solid 1px;
  }
  .dark-mode-tittle {
    margin: 0 0.2rem;
  }

  .dark-mode-button {
    height: 1.55rem;
  }

  .dark-mode-switcher {
    width: 1.2rem;
    height: 1.2rem;
  }
  .followersSection {
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
  }

  .card-conteiner-overview {
    grid-template-columns: 1fr;
  }
}